/*Estilo aplicación general*/

html{
    background-color: rgb(160, 150, 150);
}

/*Estilo y colocación del título de la aplicación*/

#title{
    display: flex;
    justify-content: center;
    -webkit-text-stroke: 1px black;
}

#title1{
    color: red;
    font-size: 50px;
}

#title2{
    color: white;
    font-size: 50px;
}

/*Estilo y colocación de la sección para añadir y filtrar nuevas tareas*/

#block_add_task{
    display: flex;
    justify-content: center;
}

#div_add_task{
    width: 70%;
    display: flex;
    justify-content: center;
}

#task {
    height: 32px;
    width: 55%;
    margin-right: 2.5px;
    border: 1.6px solid black;
}

button {
    height: 32px;
    width: 60px;
    margin: 2.5px 1px 0px 2.5px;
    border: 1.6px solid black;
    font-weight: bold;
}


/*Estilo para las tareas de nuestra aplicación*/

#current_tasks{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task_false{
    border:2px dashed black;
    background-color: white;
    width: 50%;
    margin: 2.5px 0px 2.5px 0px;
    padding: 1px 2.5px;
}

.task_true{
    background-color: rgb(51, 199, 51);
    border: 2px solid black;
    width: 50%;
    margin: 2.5px 0px 2.5px 0px;
    padding: 1px 2.5px;
}

