.capaMensajes {
    background-color: yellow;
    width: 70%;
    height: 500px;
    border: 2px solid;
    padding: 10px;
    margin: 0;
}

ul {
    padding: 8px;
    list-style-type: none;
}

input {
    height: 32px;
    width: 50%;
}

button {
    height: 32px;
    width: 20%;
}